# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
*.log

# VS Code
.vscode/

# pytest, coverage, etc.
.pytest_cache/
.coverage
.mypy_cache/

# Data files
data/*.tsv
data/*.json

# Output
*.out
